.header {
    height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:960px;
    margin:0px auto;
    position: relative;
}

table {
	border-collapse: collapse;
}
.cartLink {
	position: absolute;
	text-align: right;
	bottom: 0;
	right: 0;
	margin-right: 5px;
	margin-bottom: 5px;
}
.header-content {
	position: absolute;
	margin-left: 5px;
	margin-bottom: 5px;
	bottom: 0;
	left: 0;
}

.wrapper {
	position: relative;
	margin:0px auto;
	width:960px;
}

.title1 {
	font-weight: bold;
	font-size: 32px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.title2 {
	padding-top: 5px;
	font-weight: bold;
	font-size: 24px;
}

.list {
	padding: 5px 5px 0px 5px;
}