.sidebar {
    float:left;
    width:200px;
    margin: 0px 10px 0px 0px;
    padding: 0px 0px 10px 10px;
    border-right: solid;
    border-width: 1px;
    border-color: #CCC;
    
}
.products {
	float: left;
}
